{#

@file 		/views/header
@package 	Format'ciné
@author 	Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}

<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch' ) }} {{ site.language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
<html {{ site.language_attributes }} {{ html_class( 'no-js no-touch' ) }}>
<!--<![endif]-->

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<base href="{{ theme.path }}/dist/">

		{{ wp_head }}

		{% include 'components/google-analytics.html.twig' %}

	</head>

	<body {{ body_class( 'border-color-main' ) }}>

		{% include 'components/menu.html.twig' %}

		<div class="Site-container">
			<header class="Site-header">


				{# Button #}
				<button class="Site-header-button js-toggle-menu-button">
					<svg class="fill-main">
						<use xlink:href="{{ theme.link }}/dist/icons.svg#open"></use>
					</svg>
				</button>


				{# Logo #}
				<div class="row">

					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
						<a class="Logo" href="{{ site.url }}">
							{% include 'logo.html.twig' %}

							{# Site description #}
							<p class="color-secondary Site-description">{{- site.description -}}</p>
						</a>
					</div>

				</div>


				{# Contact #}
				<div class="Site-header-contact hidden-xs hidden-sm">
					{% include 'components/socials.twig' with { prefix: 'header' } %}

					<p class="Site-header-contact__address">
						<a href="{{ 'https://www.google.com/maps/search/?api=1&query=' ~ contact.address -}}" target="_blank">{{- contact.address | nl2br -}}</a>
					</p>
					<p class="Site-header-contact__phone">
						<a href="{{ 'tel:' ~ contact.phone }}" target="_phone">{{- contact.phone -}}</a></p>
				</div>

			</header>
		</div>
