{#
	/**
	 * /views/pages/reports
	 *
	 * @package 	WordPress
	 * @subpackage 	19h47
	 * @author 		Jérémy Levron <jeremylevron@19h47.fr>
	 */
#}
{# Reports #}
<section class="Site-container">
	<div class="Reports background-color-ternary">
		<div class="row">
			<div class="col-12">
				<h2 class="Reports__title">
					{{- report.title -}}
					<p class="Reports__subheading">{{- report.subtitle -}}</p>
				</h2>

				<p class="Reports__content">{{- report.content -}}</p>

				{% if report.link.document %}
					<a
						class="Reports__label background-color-secondary color-secondary-hover border-color-secondary-hover"
						href="{{ report.link.document }}"
					>
						{{- report.link.label | default( 'Télécharger' ) -}}
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
