{#
	/**
	 * /views/pages/reports
	 *
	 * @package 	WordPress
	 * @subpackage 	19h47
	 * @author 		Jérémy Levron levronjeremy@19h47.fr
	 */
#}
{# Reports #}
<section class="Site-container">
	<div class="Reports background-color-ternary">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="Reports__title">
					{{ post.reports_title }}
					<p class="Reports__subheading">{{ post.reports_subheading }}</p>
				</h2>
				
				<p class="Reports__content">{{- post.reports_content -}}</p>
				
				<a 
					class="Reports__label background-color-secondary color-secondary-hover border-color-secondary-hover" 
					href="{{ post.reports_document }}"
				>
					{{ post.reports_label }}
				</a>
			</div>
		</div>
	</div>
</section>