{#

Tease: School training

@file views/partials/tease-school-training
@package formatcine
@author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}
<div class="row">
	{% for school_training in school_trainings %}

		<div class="col-12 col-md-4">
			<article id="school_training-{{ school_training.id }}" class="Tease-school-training">

				<div class="Tease-school-training__thumbnail">
					{% include 'partials/image.html.twig' with { image: school_training.thumbnail } %}
				</div>

				{# Date #}
				<p class="Tease-school-training__date">
					{{- school_training.formation_date | date( 'l j F Y' ) -}}
				</p>

				{{- school_training.movies ? "<h3 class=\"Tease-school-training__title\">#{  school_training.movies | join( ', ' ) }</h3>" : '' -}}
				{{- school_training.directors ? "<p class=\"Tease-school-training__director\">#{ school_training.directors }</p>" : '' -}}

				{% if school_training.program %}
					<a
						href="{{ school_training.program }}"
						class="Tease-school-training__read-more color-secondary background-color-secondary-hover border-color-secondary-hover"
						target="_blank"
					>
						{{- __( 'Programming', 'formatcine' ) -}}
						<svg class="Tease-school-training__read-more__icon">
							<use xlink:href="{{ theme.link }}/dist/icons.svg#arrow"></use>
						</svg>
					</a>
				{% endif %}
			</article>
		</div>

		{{- loop.index is divisible by( 3 ) and not loop.last ? '</div><div class="row">' : '' -}}

	{% else %}
		<div class="col-12">
			<p>{{- __( 'No training days to display', 'formatcine' ) -}}</p>
		</div>
	{% endfor %}
</div>
