{#
	/**
	 * /views/partials/tease-event
	 * 
	 * @package WordPress
	 * @subpackage 19h47
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */
	
#}	
<div class="row">
{% for post in posts %}
	<div class="col-xs-12 col-md-4">
		<article 
			id="post-{{ post.id }}" 
			class="Tease-event{{ post.event_color ? ' has-background-color' }}"{{ post.event_color ? ' style="background-color: ' ~ post.event_color ~ ';"' }}>
			<p class="Tease-event__date">{{ post.event_date|date( 'l j F Y' ) }}</p>
			<h3 class="Tease-event__title">{{- post.post_title -}}</h3>
			<p class="Tease-event__description">{{- post.description -}}</p>
			
			{% if post.event_read_more %}
				<a class="Tease-event__read-more" href="{{ post.event_read_more }}" target="_blank">
					{{- __( 'En savoir plus' ) -}}
					<svg class="Tease-event__read-more__icon">
					  	<use xlink:href="{{ theme.link }}/public/icons.svg#arrow"></use>
					</svg>
				</a>
			{% endif %}

		</article>
	</div>	
{% else %}
	<div class="col-xs-12">
		<p>Aucun événement à afficher</p>
	</div>
{% endfor %}
</div>