{#
	/**
	 * views/components/contact
	 * 
	 * @author  Levron Jérémy jeremy@19h47.fr
	 */
#}
{% spaceless %}
		
	© 2017 <a href="{{ site.url }}">Format’ciné</a>

	&nbsp;&mdash;&nbsp;
	
	Tous droits réservés&nbsp;&nbsp;|&nbsp;&nbsp;

	<a href="{{ site.url }}/nos-partenaires">{{- __( 'Nos partenaires' ) }}</a>
	
	&nbsp;&nbsp;|&nbsp;&nbsp;
  	
  	<a href="{{ site.url }}/mentions-legales">Mentions légales</a>
  	
  	&nbsp;&nbsp;|&nbsp;&nbsp;
	
	{{- __( 'Conception :' ) -}}
	
	&nbsp;
	
	<a href="http://www.mokacreation.com/" target="_blank">MOKA Création</a>
	
	&nbsp;&mdash;&nbsp;
	
	<a href="http://19h47.fr" target="_blank">19h47</a>

{% endspaceless %}