{#

@file views/components/contact
@author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}
{% apply spaceless %}

	© 2017 <a href="{{ site.url }}">Format’ciné</a>

	&nbsp;&mdash;&nbsp;

	Tous droits réservés&nbsp;&nbsp;|&nbsp;&nbsp;

	<a href="{{ site.url }}/nos-partenaires">{{- __( 'Our partners', 'frmtcn' ) }}</a>

	&nbsp;&nbsp;|&nbsp;&nbsp;

  	<a href="{{ site.url }}/mentions-legales">{{- __( 'Legal Notice', 'frmtcn' ) -}}</a>

  	&nbsp;&nbsp;|&nbsp;&nbsp;

	{{- __( 'Design:', 'frmtcn' ) -}}

	&nbsp;

	<a href="http://www.mokacreation.com/" target="_blank" rel="noopener">MOKA Création</a>

	&nbsp;&mdash;&nbsp;

	<a href="https://19h47.fr" target="_blank" rel="noopener">19h47</a>

{% endapply %}
