{#

@file views/components/contact
@author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}
{% apply spaceless %}

	© {{ 'now' | date( 'Y' ) }} <a href="{{ site.url }}">Format'ciné</a>

	&nbsp;&mdash;&nbsp;

	{{ __( 'All rights reserved', 'formatcine' ) }}&nbsp;&nbsp;|&nbsp;&nbsp;

	<a href="{{ site.url }}/nos-partenaires">{{- __( 'Our partners', 'formatcine' ) -}}</a>

	&nbsp;&nbsp;|&nbsp;&nbsp;

  	<a href="{{ site.url }}/mentions-legales">{{- __( 'Legal Notice', 'formatcine' ) -}}</a>

  	&nbsp;&nbsp;|&nbsp;&nbsp;

	{{- __( 'Design:', 'formatcine' ) -}}

	&nbsp;

	<a href="http://www.mokacreation.com/" target="_blank" rel="noreferer noopener">MOKA Création</a>

	&nbsp;&mdash;&nbsp;

	<a href="https://19h47.fr" target="_blank" rel="noreferer noopener">19h47</a>

{% endapply %}
