{#

views/components/menu

@author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}

<div class="Menu background-color-main">

	<div class="Menu-inner border-color-main">
		<div class="Site-container">
			<div class="row">
				<div class="col-12">
					<button type="button" class="Menu-button js-toggle-menu-button" aria-label="{{ __( 'Fermer le menu', 'formatcine' ) }}">
						{% include 'svg/use.html.twig' with { icon: 'close' } %}
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-12">

					<ul class="Menu-items">
						{% for item in menu.main.items %}

							<li
								id="menu-item-{{ item.id }}"
								class="Menu-item{{ item.classes ? ' ' ~ item.class }}{{ item.current ? ' Menu-item--is-current' }}{{ item.children ? ' Menu-item--has-children' }}"
							>

								{% if not item.children %}

									<a href="{{ item.link }}"{{ item.target ? ' target="_blank"' }}>
										{{- item.children ? item.title : "• #{ item.title } •" -}}
									</a>

								{% else %}

									<p class="Site-title-underline">
										{{- item.title }}
									</p>

									<ul class="Menu-childrens">
									{% for children in item.children %}
										<li class="Menu-children">
											<a href="{{ children.url }}"{{ children.target ? ' target="_blank"' }}>
												{{- item.children ? "• #{ children.name } •" : item.title -}}
											</a>
										</li>
									{% endfor %}
									</ul>

								{% endif %}

							</li>
						{% endfor %}
					</ul>
				</div>
			</div>


			{# Socials #}
			<div class="row">
				<div class="col-12">{%- include 'components/socials.twig' with { prefix: 'menu' } -%}</div>
			</div>


			<div class="row">
				<div class="col-12">
					<div class="Menu-contact">
						{% apply spaceless %}

							<p class="Menu-contact__title">
								{{- __( 'Association', 'formatcine' ) -}}&nbsp;{{- site.name -}}
							</p>

							<p class="Menu-contact__content">
								{% if contact.adress %}
									{{- contact.address | replace( { '\n': ' — ' } ) -}}&nbsp;•&nbsp;
								{% endif %}

								{% if contact.phone %}
									<a href="tel:{{ contact.phone | replace( { ' ' : '' } ) }}">
										{{- contact.phone -}}
									</a>
									&nbsp;•&nbsp;
								{% endif %}

								{%- for email_address in contact.email_addresses %}
									<a href="mailto:{{ email_address }}">
										{{- email_address -}}
									</a>
									{{- not loop.last ? ' — ' -}}
								{% endfor %}

							</p>

						{% endapply %}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<p class="Menu-footer">
						{%- include 'components/contact.html.twig' -%}
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
