{#

views/components/movie

@author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}

{% macro document( link, label ) %}
	<a
		class="Movie__document color-secondary background-color-secondary-hover border-color-secondary-hover"
		href="{{ link }}"
		target="_blank"
	>
		{{- label -}}
	</a>
{% endmacro %}

<article class="Movie outline-color-secondary" itemscope itemtype="http://schema.org/Movie">

	<div class="Movie__thumbnail">
		<meta itemprop="image" content="{{ Image( movie.thumbnail ).src }}">

		<p class="Movie__quarter background-color-secondary">
			{{- programming.meta( 'quarter' ).label -}}
		</p>

		{% include 'partials/image.html.twig' with { image: movie.thumbnail } %}
	</div>

	<div class="Movie__content">

		<h3 class="Movie__title color-secondary" itemprop="name">{{- movie.title -}}</h3>

		{# Directors #}
		{% if movie.directors %}
			<p class="Movie__directors" itemprop="director" itemscope itemtype="http://schema.org/Person">
				{{- movie.directors | map( director => "<meta itemprop=\"name\" content=\"#{ director }\">" ) | join() -}}

				{{- __( 'By', 'formatcine' ) }}
				{% for director in movie.directors %}
					{% if loop.last and not loop.first %}
						{{- __( 'and', 'formatcine' ) }}&nbsp;{{ director }}
					{% elseif movie.directors | length > 2 %}
					 	{{- director }},&nbsp;
					{% else %}
						{{ director }}
					{% endif %}
				{% endfor %}
			</p>
		{% endif %}


		<div class="Movie__facts">
			<meta itemprop="dateCreated" content="{{ movie.release_year }}">
			<meta itemprop="countryOfOrigin" content="{{ movie.countries | join( '-' ) }}">
			<meta itemprop="duration" content="{{ movie.running_time }}">
			{{- movie.facts -}}
		</div>

		{# Trailer #}
		{% if movie.meta( 'trailer' ) %}
			<a
				class="Movie__trailer"
				href="{{ movie.meta( 'trailer' ) }}"
				target="_blank"
				rel="noopener noreferer"
				itemprop="trailer" itemscope itemtype="http://schema.org/VideoObject"
			>
				<meta itemprop="embedUrl" content="{{ movie.meta( 'summary' ) }}">
				<meta itemprop="description" content="{{ movie.meta( 'trailer' ) }}">
				<meta itemprop="name" content="{{ movie.title }}">
				<meta itemprop="thumbnailUrl" content="{{ Image( movie.thumbnail ).src }}">
				<meta itemprop="uploadDate" content="{{ movie.post_date }}">
				{{-__( 'Watch the trailer', 'formatcine' ) -}}
			</a>
		{% endif %}

		<p class="Movie__summary" itemprop="abstract">{{- movie.meta( 'summary' ) -}}</p>
		<p class="Movie__review color-main" itemprop="about">{{- movie.meta( 'review' ) -}}</p>

		{% if movie.meta( 'documents' ) %}
			<div class="Movie__documents">
				{{- movie.meta( 'documents' ) | map( d => _self.document( d.link, d.label ) ) | join -}}
			</div>
		{% endif %}
	</div>

</article>
