{#
	/**
	 * views/components/movie
	 * 
	 * @author  Jérémy Levron levronjeremy@19h47.fr
	 */
#}

<article class="Movie outline-color-secondary">

	{# <pre>{{- movie | print_r -}}</pre> #}

	<div class="Movie__thumbnail">
		
		<p class="Movie__quarter background-color-secondary">{{ programming.get_field( 'quarter' ).label }}</p>
		
		<img src="{{ TimberImage( movie.thumbnail ).src }}" alt="" />
	</div>

	<div class="Movie__content">

		{# Title #}
		<h3 class="Movie__title color-secondary">
			{{- movie.title -}}
		</h3>
		
		{# Directors #}
		{{ directors ? '<p class="Movie__directors">De&nbsp;' ~ directors | join(', ') ~ '</p>' : '' }}
		

		<div class="Movie__meta">
			{% set meta = [] %}
			{% set meta = meta | merge( [ countries ? countries | join('-') ] ) %}
			{% set meta = meta | merge( [ movie.release_year ] ) %}
			{% set meta = meta | merge( [ movie.get_field( 'running_time' ) ] ) %}
			
			{% if movie.version %}
				{% set meta = meta | merge( [  movie.version | join( '-' ) ] ) %}
			{% endif %}

			{{ meta | join( '&nbsp;|&nbsp;' ) }}
		</div>

		{# Trailer #}
		{% if movie.get_field( 'trailer' ) %}
			<a
				class="Movie__trailer" 
				href="{{ movie.get_field( 'trailer' ) }}"
			>
				{{-__('Visionner la bande annonce' ) -}}
			</a> 
		{% endif %}

		<p class="Movie__summary">{{ movie.get_field( 'summary' ) }}</p>
		<p class="Movie__review color-main">{{ movie.get_field( 'review' ) }}</p>
		
		{% if movie.get_field( 'documents' ) %}
		
		<div class="Movie__documents">
			{% spaceless %}
				
			{% for document in movie.get_field( 'documents' ) %}
				<a 
					class="Movie__document color-secondary background-color-secondary-hover border-color-secondary-hover" 
					href="{{ document.link }}"
				>
					{{- document.label -}}
				</a>
			{% endfor %}

			{% endspaceless %}
		</div>	 

		{% endif %}
	</div>

</article>
