{#
	/**
	 * /views/header
	 *
	 * @package WordPress
	 * @subpackage frmtcn
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */
#}

<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch' ) }} {{ language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
<html {{ language_attributes }} {{ html_class( 'no-js no-touch' ) }}>
<!--<![endif]-->
	
	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

		{{ wp_head }}

		{# {% include 'components/google-analytics.twig' %} #}

	</head>

	<body {{ body_class( 'border-color-main' ) }}>
		<div class="Site-container">
			<header class="Site-header">
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-6">
						<a class="Logo" href="{{ site.url }}">
							{% include 'logo.svg' %}		

							{# Site description #}
							<p class="color-secondary Site-description">{{- site.description -}}</p>
						</a>
					</div>
					<div class="col-xs-3"></div>
				</div>
			</header>	
		</div>
		
		{# Introduction #}
		<div class="Site-container Slider">
			<div class="background-color-secondary h-xs-100">
				<div class="row h-xs-100">
					<div class="col-xs-12 h-xs-100">
						<div class="display-xs-table w-xs-100 h-xs-100">
							<div class="display-xs-table-cell vertical-align-middle text-xs-center">
								<h1 class="title">
									<span>De chaque côté de</span>
									<span>L’écran</span>
								</h1>
							</div>
						</div>

						<img class="image" src="{{ theme.link }}/static/img/svg/home-slider-01.svg" alt="" />
					</div>
				</div>
			</div>
		</div>

		{# Discover #}
		<div class="Site-container Discovery">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 text-xs-center">
					<h2 class="Site-title-underline">{{- post.discovery_title -}}</h2>
					<p class="description">{{- post.discovery_description -}}</p>
				</div>
			</div>
			<div class="row">

				{% for discovery in post.get_field('discoveries') %}
					<div class="col-xs-4">
						<article class="item">
							{% spaceless %}
								
							<img class="pictogram" src="{{ Image( discovery.pictogram ).src }}" alt="" /><br>
							<h3 class="title">{{- discovery.title -}}</h3><br>
							<p class="description">{{- discovery.description -}}</p>

							{% endspaceless %}
						</article>
					</div>
				{% endfor %}

				
			</div>
		</div>


		{# Events #}
		<div class="Events js-events">
			<div class="Site-container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="Events-filters">
							{% for category in events.categories %}
								<li class="item">
									<button 
										class="color-secondary js-events-button"
										data-category-id="{{ category.term_id }}"
									>
										{{- category.name -}}
									</button>
								</li>
							{% endfor %}
							<li class="item">
								<button 
									class="color-secondary is-active js-events-button"
									data-category-id="0"
								>
									{{- __( 'Tout public' ) -}}</button>
							</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-md-4">
						<h2 class="Site-title-underline">{{ __( 'Les\névénements' )|nl2br }}</h2>
						<p class="description">
							{{- __( 'Toute l’année, retrouvez des manifestations organisées avec nos partenaires sur différents thèmes.' ) -}}
						</p>
					</div>
						
					<div class="col-xs-12 col-md-8 Events-tease-container js-events-container">
						
							
						{% include 'partials/tease-event.twig' %}
								
						
					</div>
				</div>
			</div>
		</div>