{#

Programming

@file /views/partials/programming
@package    frmtcn
@subpackage 19h47
@author     Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}
<section class="Programming">
	<div class="Site-container">

		<div class="Programming-title row">
			<div class="col-12">
				<h2 class="Site-title-underline">
					{{- __( 'Programmation' ) ~ ' ' ~ season.name -}}
				</h2>
			</div>
		</div>


		<div class="row Programming-filters">
			<div class="col-12">
				{% spaceless %}
					{% for school_class in school_classes %}
						<button
							class="Programming-filter js-movie-filter{{ loop.first ? ' is-active' }}"
							data-school-class='["{{school_class.term_ids | join( '","' ) }}"]'
						>
							{{- school_class.names | join( ' | ' ) -}}
						</button>
						{{ loop.last ? '' : '<br>' }}
					{% endfor %}
				{% endspaceless %}
			</div>
		</div>



		<div class="Programming__movie-container">

			<div
				class="row js-movie-slider position-xs-relative is-active Programming__movie-container__inner"
				data-school-class='[{{ '"' ~ school_classes['sixieme-cinquieme'].term_ids[0] ~ '","' ~ school_classes['sixieme-cinquieme'].term_ids[1] ~ '"' }}]'
			>

				{% include 'partials/programming-navigation.html.twig' %}

				<div class="js-movie-slider-container">

					{% for programming in programmings %}


						{% set directors = [] %}
						{% set countries = [] %}
						{% set current_school_classes = [] %}
						{% set movie = programming.get_field( 'movie' ) %}

						{% for director in movie.get_field( 'director' ) %}
							{% if loop.last and not loop.first %}
								{% set directors = directors | merge( [ 'et ' ~ director.name ] ) %}
							{% else %}
								{% set directors = directors | merge( [ director.name ] ) %}
							{% endif %}
						{% endfor %}

						{% for country in movie.get_field( 'country' ) %}
							{% set countries = countries | merge( [ country.name ] ) %}
						{% endfor %}

						{% for school_class in programming.get_field( 'school_class' ) %}
							{% set current_school_classes = current_school_classes | merge( [ school_class.slug ] ) %}
						{% endfor %}


						{# `Sixième` or `Cinquième` class #}
						{% if 'sixieme' in current_school_classes or 'cinquieme' in current_school_classes %}
							<div class="col-12">
								{%- include 'components/movie.html.twig' -%}
							</div>
						{% endif %}


						{# `Quatrième` or `Troisième` class #}
						{% if 'quatrieme' in current_school_classes or 'troisieme' in current_school_classes %}
							<div class="col-12">
								{%- include 'components/movie.html.twig' -%}
							</div>
						{% endif %}


						{% if loop.index is divisible by( 3 ) and not loop.last %}
								</div>
							</div>
							<div
								class="row js-movie-slider position-xs-relative Programming__movie-container__inner"
								data-school-class='[{{ '"' ~ school_classes['quatrieme-troisieme'].term_ids[0] ~ '","' ~ school_classes['quatrieme-troisieme'].term_ids[1] ~ '"' }}]'
							>

								{%- include 'partials/programming-navigation.html.twig' -%}

								<div class="js-movie-slider-container">
						{% endif %}

					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
