{#
/**
 * /views/pages/college-au-cinema-37
 *
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron <jeremylevron@19h47.fr>
 */
#}
{% extends 'index.twig' %}


{% block header %}{% endblock %}


{% block content %}

	{# Post title #}
	{% if post.post_title %}
		{% include 'components/post-title.twig' %}
	{% endif %}


	{# Post content #}
	{% if post.post_content %}
		{% include 'components/post-content.twig' %}
	{% endif %}



	{% include 'partials/programming.twig' %}


	{# Educational support #}
	<section class="Educational-support">
		<div class="Site-container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="Site-title-underline color-secondary">
						{{- post.educational_support_title -}}
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p class="Educational-support__introduction">
						{{- post.educational_support_introduction -}}
					</p>
				</div>
			</div>

			<div class="row is-flex">
				<div class="col-xs-12 col-md-8 align-self-flex-end">
					<p class="Educational-support__content">
						{{- post.educational_support_content | nl2br -}}
					</p>
				</div>
				<div class="col-xs-12 col-md-4 align-self-flex-end">
					<div class="Educational-support__information color-main">
						<p><span>&plus;</span></p>
						<p>{{- post.educational_support_information -}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	{# School trainings #}
	<section class="School-trainings js-school-trainings">
		<div class="Site-container">

			{# Title mobile #}
			<div class="row hidden-md hidden-lg hidden-hd">
				<div class="col-xs-12 col-md-4">
					<h2 class="margin-xs-y-0">
						<span class="Site-title-underline">
							{{- __( 'Les\njournées de\nformation\n' )|nl2br -}}
						</span>
						<span class="Site-title-underline color-gray-dark">{{ season.name }}</span>
					</h2>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<ul class="School-trainings-filters">

						<li class="item">
							<button
								class="color-secondary is-active js-school-trainings-button"
								data-season="{{ season.term_id }}"
							>
								{{- __( 'Toutes' ) -}}</button>
						</li>

						{% for school_class in school_classes %}

							<li class="item">
								<button
									class="color-secondary js-school-trainings-button"
									data-school-class-ids="[{{ school_class.term_ids | join( ',' ) }}]"
									data-season="{{ season.term_id }}"
								>
									{{- school_class.names | join( ' | ' ) -}}
								</button>
							</li>

						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
					<h2 class="margin-xs-y-0">
						<span class="Site-title-underline">
							{{- __( 'Les\njournées de\nformation\n' )|nl2br -}}
						</span>
						<span class="Site-title-underline color-gray-dark">{{ season.name }}</span>
					</h2>
					<p class="description font-semibold">
						{{- post.get_field( 'school-trainings_description' ) -}}

					</p>
				</div>

				<div class="col-xs-12 col-md-8 School-trainings-tease-container js-school-trainings-container">

					{% include 'partials/tease-school-training.twig' %}

				</div>
			</div>
		</div>


		{% include 'partials/reports.twig' %}
	</section>


{% endblock %}


{% block footer %}{% endblock %}
