{#

@file 			/views/pages/formations-professionnelles
@package 		frmtcn
@author 		Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}
{% extends 'index.html.twig' %}


{% block content %}

	{% if post.parent.title %}
		{% include 'components/post-title.html.twig' with { post_title: post.parent.title } %}
	{% endif %}

	<div class="Site-container">
		<div class="row">
			<div class="col-12 text-align-center">
				<div class="Page-list-adjacent">
					<a class="Page-list-adjacent__item background-color-main background-color-main-hover" href="{{ function( 'get_permalink', 190 ) }}">
						{{- __( 'Formations pour les enseignants', 'formatcine' ) -}}
					</a>
					<p class="Page-list-adjacent__item Page-list-adjacent__item--is-active background-color-main background-color-main-hover">
						{{- __( 'Formations professionnelles', 'formatcine' ) -}}
					</p>
				</div>
			</div>
		</div>
	</div>

	{# Post content #}
	{% if post.post_content %}
		{% include 'components/post-content.html.twig' %}
	{% endif %}


	<div class="Site-container">
		<div class="row">
			<div class="col-12">
				<div class="Page-introduction font-semibold">
					<p>
						{{- __( 'Notre association, qui organise depuis vingt cinq ans des stages dans le domaine du cinéma et de l\'audiovisuel, bénéficie d\'un numéro d\'enregistrement permettant une prise en charge financière par les Organismes Paritaires Collecteurs Agréés (OPCA).', 'formatcine' ) -}}
					</p>
					<p class="h2 font-bold">
						{{- __( 'Salariés, travailleurs indépendants, professionnels libéraux, fonctionnaires de la fonction publique :', 'formatcine' ) -}}
					</p>
					<p>
						{{- __( 'Les objectifs pédagogiques de nos stages pratiques de cinéma sont d\'une part de dépasser progressivement certaines réticences dans le domaine de la créativité, d\'autre part de favoriser le travail en équipe autour de la création de toutes pièces d\'un court métrage. Encadrés par des professionnels du cinéma, ils permettent de (re)donner confiance en soi aux participants et de les (re)dynamiser par la réussite d\'une création collective. Aucune compétence artistique n\'est pré-requise. À l\'issue des stages, les stagiaires auront découvert les différentes étapes de la réalisation d\'un film ainsi que différentes techniques du cinéma.', 'formatcine' ) -}}
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-align-center">
				<a class="Page-button background-color-secondary border-color-secondary color-secondary-hover" href="{{ function( 'get_permalink', 183 ) }}">
					{{- __( 'Latest achievements of interns', 'formatcine' ) }}
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-align-center">
				<h2 class="Site-title-underline">
					{{- __( 'Internships and registrations', 'formatcine' ) -}}
				</h2>
			</div>
		</div>
	</div>

	<div class="Site-container Adult-training">
		<div class="row">
			<div class="col-12">

				{% for adult_training in adult_trainings %}
					<article class="Adult-training-professional">

						{% if adult_training.thumbnail %}
							<img
								class="Adult-training-professional__thumbnail"
								src="{{ Image( adult_training.thumbnail ).src }}"
								alt="{{ adult_training.post_title }}"
								width="90"
								height="60"
							/>
						{% endif %}

						<h2 class="Adult-training-professional__title">
							{{- adult_training.post_title -}}
						</h2>

						{% if adult_training.number_days %}
							<p class="Adult-training-professional__number-days">
								({{- adult_training.number_days -}}&nbsp;{{ __( 'days', 'formatcine' ) -}} )
							</p>
						{% endif %}

						{% if adult_training.post_content %}
							<p class="Adult-training-professional__post-content">
								{{- adult_training.post_content -}}
							</p>
						{% endif %}

						{% if adult_training.get_field( 'contents' ) %}
							<h3 class="Adult-training-professional__contents__title">
								{{- __( 'Content', 'formatcine'  ) -}}
							</h3>
							{% for content in adult_training.get_field( 'contents' ) %}
								<div class="Adult-training-professional__content">
									<h4 class="Adult-training-professional__content__title">
										<span class="color-secondary">{{- loop.index -}}</span>
										{{- content.title -}}
									</h4>

									{# Description #}
									<p class="margin-0">{{- content.description -}}</p>

								</div>
							{% endfor %}
						{% endif %}

						{% if adult_training.get_field('document') %}

							<a class="Adult-training-professional__document Page-button background-color-secondary border-color-secondary color-secondary-hover" href="{{ adult_training.meta( 'document' ).url }}">
								{{- __( 'Registration Form', 'formatcine' ) -}}
							</a>

						{% endif %}

					</article>

				{% endfor %}

			</div>
		</div>
	</div>


	{% include 'partials/adult-training-comments.html.twig' %}

{% endblock %}
