{#

@package 	Format'ciné
@author 	Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
@file 		/views/pages/formations-pour-les-enseignants

#}
{% extends 'index.html.twig' %}


{% block header %}{% endblock %}


{% block content %}

	{# Post title #}
	{% if post.parent.title %}
		{% include 'components/post-title.html.twig' with { post_title: post.parent.title } %}
	{% endif %}

	<div class="Site-container">
		<div class="row">
			<div class="col-12 text-align-center">
				<div class="Page-list-adjacent">

					<p class="Page-list-adjacent__item Page-list-adjacent__item--is-active background-color-main background-color-main-hover">
						{{- __( 'Training for teachers', 'formatcine' ) -}}
					</p>

					<a class="Page-list-adjacent__item background-color-main background-color-main-hover" href="{{ fn( 'get_permalink', 193 ) }}">
						{{- __( 'Professional training', 'formatcine' ) -}}
					</a>

				</div>
			</div>
		</div>
	</div>

	{# Post content #}
	{% if post.post_content %}
		{% include 'components/post-content.html.twig' %}
	{% endif %}

	{% include 'partials/page-introduction.html.twig' with { introduction: post.meta( 'introduction' ) } %}

	<div class="Site-container">
		<div class="row">
			<div class="col-12 text-align-center">
				<h2 class="Site-title-underline">{{- __( 'Stages et formations', 'formatcine' ) }}</h2>
			</div>
		</div>
	</div>

	<div class="Site-container Adult-training">
		<div class="row d-flex justify-content-center">
			{% for adult_training in adult_trainings %}
				<div class="col-12 col-md-6 padding-bottom-3">
					<article class="Adult-training-teachers">
						{# <pre>{{ adult_training | print_r }}</pre> #}
						{% if adult_training.thumbnail %}
							<img
								class="Adult-training-teachers__thumbnail"
								src="{{ Image( adult_training.thumbnail ).src }}"
								width="90"
								height="60"
							>
						{% endif %}

						<h2 class="Adult-training-teachers__title">
							{{- adult_training.post_title -}}
						</h2>
						<p class="Adult-training-teachers__content">
							{{- adult_training.post_content -}}
						</p>

						{% if adult_training.meta( 'document' ) %}
							<a
								class="Adult-training-teachers__link background-color-secondary"
								href="{{ adult_training.meta( 'document' ).url }}"
							>
								{{ __( 'Registration Form', 'formatcine' ) }}
							</a>
						{% endif %}

					</article>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="Site-container Adult-training-conclusion">
		<div class="row">
			<div class="col-12 color-main">
				<p><span>+</span></p>
				<p>{{- __( 'En plus de ces stages, l\'association Format\'Ciné offre la possibilité d\'assister à la rencontre professionnelle organisée par la NEF Animation en octobre à l\'abbaye de Fontevraud.', 'formatcine' ) -}}</p>
			</div>
		</div>
	</div>

	{% include 'partials/adult-training-comments.html.twig' with { taxonomy: 35 } %}

{% endblock %}


{% block footer %}{% endblock %}
